.document__topics {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.document__topics-element {
  list-style: none;
  padding: 0;
  margin-bottom: 5px;
  margin-right: 20px;
  margin-left: 0;
}

.document__socials {
  display: flex;
}

.document__socials > * {
  margin-right: 1rem;
}

.document__main {
  --padding-lateral: var(--viewport-xs-lateral-space);
  padding-left: var(--padding-lateral);
  padding-right: var(--padding-lateral);
}

.document__pre-article-images {
  margin-bottom: var(--padding-xl);
}

@media screen and (min-width: 768px) {
  .document__main {
    --padding-lateral: var(--viewport-sm-lateral-space);
  }
}

@media screen and (min-width: 1024px) {
  .document__socials {
    flex-direction: column;
    position: absolute;
    left: 1rem;
    top: -0.5rem;
  }

  .document__socials > * {
    margin-right: 0;
    margin-bottom: 0.5rem;
  }
  
  .document__main {
    --padding-lateral: var(--viewport-md-lateral-space);
    max-width: var(--viewport-content-max-width);
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-gap: 100px;
  }

  .document__main:first-child {
    grid-area: article;
  }

  .document__main:second-child {
    grid-area: sidebar;
  }
}