.folder__content {
  --lateral-padding: var(--viewport-xs-lateral-padding);
  margin: 0 auto;
  max-width: var(--max-width);
  padding-left: var(--lateral-padding);
  padding-right: var(--lateral-padding);
}

.subfolder-list {
  --subfolder-list-elements-distance: 0.5em;
  display: flex;
  flex-wrap: wrap;
}

.subfolder-list > * {
  margin-bottom: var(--subfolder-list-elements-distance);
  margin-right: var(--subfolder-list-elements-distance);
}

.tag:hover {
  --background-color: var(--color-primary-action-dark);
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .folder__content {
    --lateral-padding: var(--viewport-sm-lateral-padding);
  }
}

@media screen and (min-width: 1024px) {
  .folder__content {
    --lateral-padding: var(--viewport-md-lateral-padding);
  }
}