.folder__subfolder-list {
  --subfolder-list-elements-distance: 0.5em;
  display: flex;
  overflow-x: auto;
}

.folder__subfolder-list > * {
  margin-bottom: var(--subfolder-list-elements-distance);
  margin-right: var(--subfolder-list-elements-distance);
}

.folder__content {
  --lateral-padding: var(--viewport-xs-lateral-space);
  margin: 0 auto;
  padding-left: var(--lateral-padding);
  padding-right: var(--lateral-padding);
}

@media screen and (min-width: 768px) {
  .folder__subfolder-list {
    flex-wrap: wrap;
  }

  .folder__content {
    --lateral-padding: var(--viewport-sm-lateral-space);
  }
}

@media screen and (min-width: 1024px) {
  .folder__content {
    --lateral-padding: var(--viewport-md-lateral-space);
    max-width: var(--viewport-content-max-width);
  }
}