/**
 * Each payment information row in the tiny basket
 */
 .total-info {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.total-info__info__amount {
  font-weight: bold;
}