.catalogue-items {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalogue-items__item {
  margin: 0;
}

@media (min-width: 768px) {
  .catalogue-items {
    grid-template-columns: repeat(16, 1fr);
  }

  .catalogue-items__item {
    grid-column-end: span 4;
    margin: 0;
  }
}