.payment-selector {
  border-radius: 10px;
  font-size: var(--font-size-m);
  height: 80px;
  margin-bottom: 3%;
  margin-right: 1%;
  min-width: 125px;
  opacity: 0.5;
  padding: 0.5rem;
}

.payment-selector--is-selected {
  opacity: 1;
}

.payment-selector__logo {
  display: block;
  margin: 0 auto;
  max-height: 25px;
  max-width: 100px;
  border: none;
}