.outer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: var(--viewport-context-extended-max-width);
  margin: 50px auto;
  border-top: 2px solid var(--color-box-background);
  padding: 50px 50px;
  justify-content: space-between;
}

.logo img {
  width: 70px;
}

.powered {
  width: 100%;
  display: block;
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
}

.powered p {
  margin: 0;
}

.powered img {
  width: 120px;
}

.navlist {
  list-style: none;
  font-weight: 500;
  font-size: 1rem;
  display: block;
  margin: 0 0 0 auto;
}

.navlist li {
  line-height: 1.5rem;
}

.navlist h5 {
  font-size: 0.7rem;
  font-weight: 400;
  margin-bottom: 10px;
}