.video-js {
  height: 100% !important;
  position: absolute;
  z-index: 0;
}
.video-js video {
  transform: none;
}

.video-js:not(.vjs-has-started) video {
  cursor: pointer;
}

.video-js button.vjs-big-play-button {
  opacity: 0;
}