.checkout-page__inner {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

.checkout-page__form-row {
  display: flex;
}

.checkout-page__form-row:not(:first-child) {
  margin-top: 0.5rem;
}

.checkout-page__form-input-group {
  flex-grow: 1;
}
/*
 * We target the second input group of the same row
 */
.checkout-page__form-row > *:nth-child(2) {
  margin-left: 0.75rem;
}

.checkout-page__form-label {
  display: block;
  font-size: var(--font-size-xs);
  font-weight: 600;
  margin-bottom: 0.15rem;
  padding-bottom: 8px;
  text-transform: uppercase;
}

.checkout-page__form-input {
  background: var(--color-main-background);
  border-bottom: 1px solid var(--color-box-background);
  border: none;
  color: var(--color-text-sub);
  font-size: var(--font-size-s);
  font-weight: 500;
  margin-bottom: 0.5rem;
  padding: 15px 10px;
  transition: border 0.2s ease-in-out;
  width: 100%;
}

.checkout-page__form-input:valid {
  border-bottom: 1px solid #b7e2e4;
}

.checkout-page__form-input:invalid {
  border-bottom: 1px solid var(--color-error);
}

.checkout-page__form-input[value=''] {
  border-bottom: 1px solid var(--color-box-background);
}

@media screen and (min-width: 768px) {
  .checkout-page__inner {
    grid-template-columns: repeat(2, 1fr);
  }
}