.layout-header {
  --padding-lateral: var(--viewport-xs-lateral-space);
  --padding-vertical: var(--viewport-xs-lateral-space);

  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5em;
  padding-bottom: var(--padding-vertical);
  padding-left: var(--padding-lateral);
  /*
   * The extra space on the right needed is equal
   * the horizontal padding (the same as the left) and
   * the size of the burguer icon aproximately.
   */
  padding-right: calc(var(--padding-lateral) + 40px);
  padding-top: var(--padding-vertical);
  position: relative;
  text-align: center;
}

.layout-header__menu {
  position: absolute;
  right: var(--padding-lateral);
  /*
  * We position the element the same as the vertical padding
  * plus some extra space to align it on the center.
  */
  --button-distance-from-top: calc(var(--padding-vertical) + var(--padding-vertical) / 4);
  top: var(--button-distance-from-top);
}

@media screen and (min-width: 768px) {
  .layout-header {
    --padding-vertical: 30px;
    --padding-lateral: var(--viewport-sm-lateral-space);
    align-items: center;
  }

  .layout-header__menu {
    /*
    * We position the element the same as the vertical padding
    * plus some extra space to align it on the center.
    */
    --button-distance-from-top: calc(var(--padding-vertical) + var(--padding-vertical) / 3);
  }
}


@media screen and (min-width: 1024px) {
  .layout-header {
    --padding-lateral: var(--viewport-md-lateral-space);
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto 3em auto;
    max-width: var(--viewport-context-extended-max-width);
    min-height: 150px;
    padding-right: var(--padding-lateral);
  }

  .layout-header__menu {
    margin-left: 3em;
    position: relative;
    top: initial;
    right: initial;
  }

  .layout-header__actions {
    /* This make the actions go to the right */
    margin-left: auto;
  }
}
