:root {
  /*
   * Color palette
   */
  --content-padding: 50px;
  --color-main-background: #fff;
  --color-text-main: #080708;
  --color-text-sub: #4c505b;
  --color-box-background: #efefef;
  --color-price: #d79b59;
  --color-error: #ef4836;
  --main-bg-color: brown;

  /* --color-price: var(--color-text-main); */
  /* --color-discount: #070707; */
  /* --color-blockquote: var(--color-text-main); */

  /* --color-primary-action-lightest: #83462a; */
  /* --color-primary-action-light: #83462a; */
  --color-primary-action: #FBDCCE;
  --color-primary-action-dark: #fdd4c2;
  --color-primary-action-darkest: #83462a;


  /*
   * Font-size
   */
  --font-size-xl: 40px;
  --font-size-lg: 32px;
  --font-size-md: 26px;
  --font-size-sm: 16px;

  /*
   * Container maximum width
   */
  --max-width: 1600px;
  
  /*
  * Custom Properties to keep in sync and horizontally aligned
  * all the components in the same viewport
  */
  --padding-lg: 100px;
  --padding-md: 75px;
  --padding-sm: 50px;
  --padding-xs: 20px;
  --viewport-xs-lateral-padding: var(--padding-xs);
  --viewport-sm-lateral-padding: var(--padding-sm);
  --viewport-md-lateral-padding: var(--padding-lg);
  
  
  --font-max-width: 800px;
  
  /* 
   * The var() function can not be used as property names,
   * selectors, or anything else besides property values.
   *
   * This values are only for documentation purposes.
   */
  --screen-lg: 1600px;
  --screen-md: 1280px;
  --screen-sm: 1024px;
  --screen-xs: 767px;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font: 16px/1 roboto, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: var(--color-main-background);
  color: var(--color-text-sub);
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

h1,
h2,
h3,
h4,
p,
blockquote,
figure,
ol,
ul {
  margin: 0 0 2em;
  padding: 0;
}
main {
  display: block;
}
h1,
h2,
h3,
h4 {
  font-size: inherit;
}
strong {
  font-weight: bold;
}
a,
button {
  color: inherit;
}
a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p > a {
  border-bottom: 2px solid black;
  font-weight: 600;
}

p > a:hover {
  text-decoration: none;
  border-bottom-color: transparent;
}

ul > li,
ol > li {
  margin-left: 30px;
}

button {
  overflow: visible;
  border: 0;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer;
}
::-moz-focus-inner {
  padding: 0;
  border: 0;
}
::-webkit-input-placeholder {
  /* Edge */
  color: var(--color-text-sub);
}
::placeholder {
  color: var(--color-text-sub);
}
img {
  max-width: 100%;
  height: auto;
  border: 0;
}

h1 {
  margin: 0 0 15px;
  font-size: 3rem;
  font-family: "Roboto Slab", sans-serif;
  color: var(--color-text-main);
}

.h2 {
  color: var(--color-text-main);
  font-size: 2rem;
  margin: 1rem 0;
}

h3 {
  color: var(--color-text-main);
  font-size: 1.4rem;
  margin: 1rem 0;
}

@media (max-width: 1024px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.2rem;
  }
}
