:root {
  --content-padding: 50px;
  --color-main-background: #fff;
  --color-text-main: #000;
  --color-text-sub: #4c505b;
  --color-box-background: #efefef;
  --color-price: #d79b59;
  --color-error: #ef4836;
  --main-bg-color: brown;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font: 16px/1 roboto, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: var(--color-main-background);
  color: var(--color-text-sub);
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

h1,
h2,
h3,
h4,
p,
blockquote,
figure,
ol,
ul {
  margin: 0 0 2em;
  padding: 0;
}
main {
  display: block;
}
h1,
h2,
h3,
h4 {
  font-size: inherit;
}
strong {
  font-weight: bold;
}
a,
button {
  color: inherit;
}
a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p > a {
  border-bottom: 2px solid black;
  font-weight: 600;
}

p:hover {
  text-decoration: none;
  border-bottom-color: transparent;
}

button {
  overflow: visible;
  border: 0;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer;
}
::-moz-focus-inner {
  padding: 0;
  border: 0;
}
::-webkit-input-placeholder {
  /* Edge */
  color: var(--color-text-sub);
}
::placeholder {
  color: var(--color-text-sub);
}
img {
  max-width: 100%;
  height: auto;
  border: 0;
}

h1 {
  margin: 0 0 15px;
  font-size: 3rem;
  font-family: "Roboto Slab", sans-serif;
  color: var(--color-text-main);
  text-transform: uppercase;
}

.h2 {
  color: var(--color-text-main);
  font-size: 2rem;
  margin: 1rem 0;
}

h3 {
  color: var(--color-text-main);
  font-size: 1.4rem;
  margin: 1rem 0;
}

@media (max-width: 1024px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.2rem;
  }
}
