.grid {
  display: grid;
  grid-gap: 1em;
}

@media (max-width: 1023px) {
  .grid {
    grid-template-columns: 1fr 1fr !important;
  }
}

@media (max-width: 768px) {
  .grid {
    display: block !important;
  }
}