.search__view {
  bottom: 0;
  left: 0;
  max-height: 100vh;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateY(-100%);
  transition: all 0.2s ease-in-out;
  z-index: var(--z-index-search);
}

/*
 * This makes the saerch appear on the viewport
 */
 .search__view.search__view--opened {
  transform: translateY(-0);
  opacity: 1;
}

/*
 * Dark overlay
 */
.search__overlay {
  position: fixed;
  content: "";
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.6);
  z-index: -1;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

/*
 * This makes the saerch appear on the viewport
 */
 .search__view.search__view--opened .search__overlay {
  opacity: 1;
}

.search__close-button {
  display: block;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.search__form {
  --search-input-lateral-padding: 35px;
  --distance-from-top-of-viewport: 75px;
  padding-top: var(--distance-from-top-of-viewport);
  padding-bottom: 1rem;
  background-color: white;
  min-height: 200px;
  max-height: 100vh;
  overflow-y: auto;
}

/*
* Container to give some inner spacing
*/
.search__form-inner {
  padding-top: 2rem;
  padding-bottom: 1rem;
  max-width: var(--viewport-context-extended-max-width);
  border-top: 1px solid var(--color-box-background);
}

/*
 * Label for the input
 */
.search__label {  
  display: block;
  padding-left: var(--search-input-lateral-padding);
  margin-bottom: 1rem;
  font-size: var(--font-size-m);
  font-weight: 600;
  text-transform: uppercase;
  text-align: left;
}

/*
 * Submit search button
 */
.search__submit {
  --distance-to-input: 5px;
  --button-size: 40px;
  background-color: black;
  border-radius: 999px;
  position: absolute;
  right: var(--distance-to-input);
  top: var(--distance-to-input);
  color: white;
  height: var(--button-size);
  width: var(--button-size);
}

/*
 * This element exist as a relative point for placing the button in absolute.
 */
.search__input-wrapper {
  position: relative;
  margin: 0 auto;
}

.search__input-spinner {
  position: absolute;
  left: 5px;
  top: 10px;
}

.search__input {
  border-radius: 35px;
  border: 1px solid var(--color-text-sub);
  font-size: var(--font-size-m);
  outline: none;
  /*
   * We make the padding-right the double, because when using a
   * input[role='search'], an x is added to clear the search term,
   * and we make that be visible and not to be covered by the submit button
   */
  padding: 12px calc(var(--search-input-lateral-padding) * 1.75) 12px var(--search-input-lateral-padding);
  width: 100%;
}

.search__suggestions {
  padding-left: var(--search-input-lateral-padding);
  text-align: left;
}

.search__suggestions-title {
  margin: 0;
  font-variant: all-petite-caps;
  font-size: var(--font-size-m);
  padding-bottom: 0;
  color: var(--color-text-sub);
  margin-bottom: 0.75rem;
  margin-top: 1rem;
}

.search__suggestions-list,
.search__suggestions-list-element {
  margin: 0;
  padding: 0;
}

.search__suggestions-list-element {
  list-style: none;
}

.search__suggestions-list-element:not(:first-child) {
  margin-top: 0.25rem;
}

.search__suggestions-list-element >>> a {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.9rem;
  display: block;
  background: transparent;
  border-radius: 0;
}



@media screen and (min-width: 768px) {
  .search__form-inner {
    --padding-lateral: var(--viewport-sm-lateral-space);
  }
}


@media screen and (min-width: 1024px) {
  .search__form {
    --content-max-width: 600px;
  }

  .search__form-inner {
    margin: 0 auto;
    max-width: var(--content-max-width);
  }

  .search__suggestions {
    max-width: var(--content-max-width);
    margin-left: auto;
    margin-right: auto;
  }
}
