.home-page {
  --lateral-padding: var(--viewport-xs-lateral-padding);
  margin: 0 auto;
  padding-left: var(--lateral-padding);
  padding-right: var(--lateral-padding);
}

@media screen and (min-width: 768px) {
  .home-page {
    --lateral-padding: var(--viewport-sm-lateral-padding);
  }
}

@media screen and (min-width: 1024px) {
  .home-page {
    --lateral-padding: var(--viewport-md-lateral-padding);
    max-width: var(--viewport-content-max-width);
  }
}