.variant-selector {
  margin: 30px 0;
}

.variant-selector__attribute:not(:first-child) {
  margin-top: 1.5rem;
}

.variant-selector__title {
  color: var(--color-text-main);
  font-size: var(--font-size-s);
  margin-bottom: 10px;
}

.variant-selector__button-list {
  display: flex;
}

.variant-selector__button {
  align-items: flex-end;
  border: 1px solid #dfdfdf;
  display: flex;
  flex-wrap: wrap;
  font-weight: bold;
  justify-content: center;
  padding: 10px 0;
  position: relative;
  text-transform: capitalize;
  width: 25%;
}

.variant-selector__button >>> img {
  border: none;
}

.variant-selector__button.variant-selector__button--is-selected {
  background: #000;
  color: white;
  border: 1px solid #000;
}

.variant-selector__button:not(.variant-selector__button--has-image):after {
  background-color: rgba(1,1,1,0.05);
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
