:root {
  --font-family-main: "Trebuchet MS", sans-serif;

  /*
   * Color palette
   */
  --content-padding: 50px;
  --color-main-background: #fff;
  --color-text-main: #080708;
  --color-text-sub: #4c505b;
  --color-box-background: #efefef;
  --color-price: var(--color-text-main);
  --color-price-discount:#EE6969;
  --color-error: #ef4836;
  --main-bg-color: brown;

  /* --color-blockquote: var(--color-text-main); */

  /* --color-primary-action-lightest: #83462a; */
  /* --color-primary-action-light: #83462a; */
  --color-primary-action: #FBDCCE;
  --color-primary-action-dark: #fdd4c2;
  --color-primary-action-darkest: #462314;

  /*
   * Font-size
   */
  --font-size-xxl: 40px;
  --font-size-xl: 32px;
  --font-size-l: 26px;
  --font-size-m: 20px;
  --font-size-s: 16px;
  --font-size-xs: 14px;
  --font-max-width: 800px;

  /*
   * Container maximum width
   */
  --viewport-content-max-width: 1600px;
  --viewport-context-extended-max-width: 1800px;
  
  /*
  * Custom Properties to keep in sync and horizontally aligned
  * all the components in the same viewport
  */
  --padding-xxl: 100px;
  --padding-xl: 75px;
  --padding-l: 50px;
  --padding-m: 35px;
  --padding-xs: 20px;
  --viewport-xs-lateral-space: var(--padding-xs);
  --viewport-sm-lateral-space: var(--padding-l);
  --viewport-md-lateral-space: var(--padding-xxl);

  /*
   * Grid images
   */
  --grid-images-columns-count: 2;
  
  /*
   * Z-index overview
   */
   --z-index-topbar: 80;
   --z-index-search: 90;
   --z-index-logo: 85;
   --z-index-burger-button: 85;
   
  
  /* 
   * The var() function can not be used as property names,
   * selectors, or anything else besides property values.
   *
   * This values are only for documentation purposes.
   */
  --screen-lg: 1600px;
  --screen-md: 1280px;
  --screen-sm: 1024px;
  --screen-xs: 767px;

  /*
   * Product listformat
   */
  --listformat-product-height-xl: 500px;
  --listformat-product-height-lg: 580px;
  --listformat-product-height-md: 500px;
  --listformat-product-height-sm: 600px;
  --listformat-product-height-xs: 400px;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: var(--color-main-background);
  color: var(--color-text-sub);
  font: 14px/1 Helvetica, Arial, Verdana, sans-serif;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

h1,
h2,
h3,
h4,
p,
blockquote,
ol,
ul {
  margin: 0 0 2em;
  padding: 0;
}
main {
  display: block;
}
h1,
h2,
h3,
h4 {
  font-size: inherit;
}
strong {
  font-weight: bold;
}
tr {
  display: block;
}
a,
button {
  color: inherit;
}
a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p > a {
  border-bottom: 2px solid black;
  font-weight: 600;
}

p > a:hover {
  text-decoration: none;
  border-bottom-color: transparent;
}

ul > li,
ol > li {
  margin-left: 30px;
}

button {
  overflow: visible;
  border: 0;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer;
}
::-moz-focus-inner {
  padding: 0;
  border: 0;
}
::-webkit-input-placeholder {
  /* Edge */
  color: var(--color-text-sub);
}
::placeholder {
  color: var(--color-text-sub);
}

img {
  max-width: 100%;
  height: auto;
  border: 1px solid var(--color-box-background);
}

h1 {
  margin: 0 0 15px;
  font-size: 3rem;
  font-family: "Roboto Slab", sans-serif;
  color: var(--color-text-main);
}

.h2 {
  color: var(--color-text-main);
  font-size: 2rem;
  margin: 1rem 0;
}

h3 {
  color: var(--color-text-main);
  font-size: 1.4rem;
  margin: 1rem 0;
}

@media (max-width: 1024px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.2rem;
  }
}
